// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$ae-ic-name: 'ae-ic';
$ae-ic-x: 481px;
$ae-ic-y: 0px;
$ae-ic-offset-x: -481px;
$ae-ic-offset-y: 0px;
$ae-ic-width: 60px;
$ae-ic-height: 38px;
$ae-ic-total-width: 1331px;
$ae-ic-total-height: 87px;
$ae-ic-image: '../img/sprite.png';
$ae-ic: (481px, 0px, -481px, 0px, 60px, 38px, 1331px, 87px, '../img/sprite.png', 'ae-ic', );
$alert-ic-1-name: 'alert-ic-1';
$alert-ic-1-x: 300px;
$alert-ic-1-y: 0px;
$alert-ic-1-offset-x: -300px;
$alert-ic-1-offset-y: 0px;
$alert-ic-1-width: 33px;
$alert-ic-1-height: 29px;
$alert-ic-1-total-width: 1331px;
$alert-ic-1-total-height: 87px;
$alert-ic-1-image: '../img/sprite.png';
$alert-ic-1: (300px, 0px, -300px, 0px, 33px, 29px, 1331px, 87px, '../img/sprite.png', 'alert-ic-1', );
$bitcoin-ic-name: 'bitcoin-ic';
$bitcoin-ic-x: 541px;
$bitcoin-ic-y: 0px;
$bitcoin-ic-offset-x: -541px;
$bitcoin-ic-offset-y: 0px;
$bitcoin-ic-width: 60px;
$bitcoin-ic-height: 38px;
$bitcoin-ic-total-width: 1331px;
$bitcoin-ic-total-height: 87px;
$bitcoin-ic-image: '../img/sprite.png';
$bitcoin-ic: (541px, 0px, -541px, 0px, 60px, 38px, 1331px, 87px, '../img/sprite.png', 'bitcoin-ic', );
$fb-ac-name: 'fb-ac';
$fb-ac-x: 1208px;
$fb-ac-y: 0px;
$fb-ac-offset-x: -1208px;
$fb-ac-offset-y: 0px;
$fb-ac-width: 61px;
$fb-ac-height: 76px;
$fb-ac-total-width: 1331px;
$fb-ac-total-height: 87px;
$fb-ac-image: '../img/sprite.png';
$fb-ac: (1208px, 0px, -1208px, 0px, 61px, 76px, 1331px, 87px, '../img/sprite.png', 'fb-ac', );
$fb-ic-name: 'fb-ic';
$fb-ic-x: 0px;
$fb-ic-y: 0px;
$fb-ic-offset-x: 0px;
$fb-ic-offset-y: 0px;
$fb-ic-width: 9px;
$fb-ic-height: 16px;
$fb-ic-total-width: 1331px;
$fb-ic-total-height: 87px;
$fb-ic-image: '../img/sprite.png';
$fb-ic: (0px, 0px, 0px, 0px, 9px, 16px, 1331px, 87px, '../img/sprite.png', 'fb-ic', );
$fb-name: 'fb';
$fb-x: 1086px;
$fb-y: 0px;
$fb-offset-x: -1086px;
$fb-offset-y: 0px;
$fb-width: 61px;
$fb-height: 76px;
$fb-total-width: 1331px;
$fb-total-height: 87px;
$fb-image: '../img/sprite.png';
$fb: (1086px, 0px, -1086px, 0px, 61px, 76px, 1331px, 87px, '../img/sprite.png', 'fb', );
$gp-ac-name: 'gp-ac';
$gp-ac-x: 903px;
$gp-ac-y: 0px;
$gp-ac-offset-x: -903px;
$gp-ac-offset-y: 0px;
$gp-ac-width: 61px;
$gp-ac-height: 76px;
$gp-ac-total-width: 1331px;
$gp-ac-total-height: 87px;
$gp-ac-image: '../img/sprite.png';
$gp-ac: (903px, 0px, -903px, 0px, 61px, 76px, 1331px, 87px, '../img/sprite.png', 'gp-ac', );
$gp-ic-name: 'gp-ic';
$gp-ic-x: 228px;
$gp-ic-y: 0px;
$gp-ic-offset-x: -228px;
$gp-ic-offset-y: 0px;
$gp-ic-width: 21px;
$gp-ic-height: 14px;
$gp-ic-total-width: 1331px;
$gp-ic-total-height: 87px;
$gp-ic-image: '../img/sprite.png';
$gp-ic: (228px, 0px, -228px, 0px, 21px, 14px, 1331px, 87px, '../img/sprite.png', 'gp-ic', );
$gp-name: 'gp';
$gp-x: 781px;
$gp-y: 0px;
$gp-offset-x: -781px;
$gp-offset-y: 0px;
$gp-width: 61px;
$gp-height: 76px;
$gp-total-width: 1331px;
$gp-total-height: 87px;
$gp-image: '../img/sprite.png';
$gp: (781px, 0px, -781px, 0px, 61px, 76px, 1331px, 87px, '../img/sprite.png', 'gp', );
$icon-1-name: 'icon-1';
$icon-1-x: 274px;
$icon-1-y: 0px;
$icon-1-offset-x: -274px;
$icon-1-offset-y: 0px;
$icon-1-width: 26px;
$icon-1-height: 34px;
$icon-1-total-width: 1331px;
$icon-1-total-height: 87px;
$icon-1-image: '../img/sprite.png';
$icon-1: (274px, 0px, -274px, 0px, 26px, 34px, 1331px, 87px, '../img/sprite.png', 'icon-1', );
$icon-10-name: 'icon-10';
$icon-10-x: 209px;
$icon-10-y: 0px;
$icon-10-offset-x: -209px;
$icon-10-offset-y: 0px;
$icon-10-width: 19px;
$icon-10-height: 18px;
$icon-10-total-width: 1331px;
$icon-10-total-height: 87px;
$icon-10-image: '../img/sprite.png';
$icon-10: (209px, 0px, -209px, 0px, 19px, 18px, 1331px, 87px, '../img/sprite.png', 'icon-10', );
$icon-11-name: 'icon-11';
$icon-11-x: 190px;
$icon-11-y: 0px;
$icon-11-offset-x: -190px;
$icon-11-offset-y: 0px;
$icon-11-width: 19px;
$icon-11-height: 18px;
$icon-11-total-width: 1331px;
$icon-11-total-height: 87px;
$icon-11-image: '../img/sprite.png';
$icon-11: (190px, 0px, -190px, 0px, 19px, 18px, 1331px, 87px, '../img/sprite.png', 'icon-11', );
$icon-12-name: 'icon-12';
$icon-12-x: 50px;
$icon-12-y: 0px;
$icon-12-offset-x: -50px;
$icon-12-offset-y: 0px;
$icon-12-width: 14px;
$icon-12-height: 17px;
$icon-12-total-width: 1331px;
$icon-12-total-height: 87px;
$icon-12-image: '../img/sprite.png';
$icon-12: (50px, 0px, -50px, 0px, 14px, 17px, 1331px, 87px, '../img/sprite.png', 'icon-12', );
$icon-13-name: 'icon-13';
$icon-13-x: 109px;
$icon-13-y: 0px;
$icon-13-offset-x: -109px;
$icon-13-offset-y: 0px;
$icon-13-width: 16px;
$icon-13-height: 16px;
$icon-13-total-width: 1331px;
$icon-13-total-height: 87px;
$icon-13-image: '../img/sprite.png';
$icon-13: (109px, 0px, -109px, 0px, 16px, 16px, 1331px, 87px, '../img/sprite.png', 'icon-13', );
$icon-14-name: 'icon-14';
$icon-14-x: 1269px;
$icon-14-y: 0px;
$icon-14-offset-x: -1269px;
$icon-14-offset-y: 0px;
$icon-14-width: 62px;
$icon-14-height: 87px;
$icon-14-total-width: 1331px;
$icon-14-total-height: 87px;
$icon-14-image: '../img/sprite.png';
$icon-14: (1269px, 0px, -1269px, 0px, 62px, 87px, 1331px, 87px, '../img/sprite.png', 'icon-14', );
$icon-2-name: 'icon-2';
$icon-2-x: 333px;
$icon-2-y: 0px;
$icon-2-offset-x: -333px;
$icon-2-offset-y: 0px;
$icon-2-width: 40px;
$icon-2-height: 34px;
$icon-2-total-width: 1331px;
$icon-2-total-height: 87px;
$icon-2-image: '../img/sprite.png';
$icon-2: (333px, 0px, -333px, 0px, 40px, 34px, 1331px, 87px, '../img/sprite.png', 'icon-2', );
$icon-3-name: 'icon-3';
$icon-3-x: 22px;
$icon-3-y: 0px;
$icon-3-offset-x: -22px;
$icon-3-offset-y: 0px;
$icon-3-width: 14px;
$icon-3-height: 17px;
$icon-3-total-width: 1331px;
$icon-3-total-height: 87px;
$icon-3-image: '../img/sprite.png';
$icon-3: (22px, 0px, -22px, 0px, 14px, 17px, 1331px, 87px, '../img/sprite.png', 'icon-3', );
$icon-4-name: 'icon-4';
$icon-4-x: 373px;
$icon-4-y: 0px;
$icon-4-offset-x: -373px;
$icon-4-offset-y: 0px;
$icon-4-width: 48px;
$icon-4-height: 38px;
$icon-4-total-width: 1331px;
$icon-4-total-height: 87px;
$icon-4-image: '../img/sprite.png';
$icon-4: (373px, 0px, -373px, 0px, 48px, 38px, 1331px, 87px, '../img/sprite.png', 'icon-4', );
$icon-5-name: 'icon-5';
$icon-5-x: 249px;
$icon-5-y: 0px;
$icon-5-offset-x: -249px;
$icon-5-offset-y: 0px;
$icon-5-width: 25px;
$icon-5-height: 24px;
$icon-5-total-width: 1331px;
$icon-5-total-height: 87px;
$icon-5-image: '../img/sprite.png';
$icon-5: (249px, 0px, -249px, 0px, 25px, 24px, 1331px, 87px, '../img/sprite.png', 'icon-5', );
$icon-6-name: 'icon-6';
$icon-6-x: 141px;
$icon-6-y: 0px;
$icon-6-offset-x: -141px;
$icon-6-offset-y: 0px;
$icon-6-width: 16px;
$icon-6-height: 15px;
$icon-6-total-width: 1331px;
$icon-6-total-height: 87px;
$icon-6-image: '../img/sprite.png';
$icon-6: (141px, 0px, -141px, 0px, 16px, 15px, 1331px, 87px, '../img/sprite.png', 'icon-6', );
$icon-7-name: 'icon-7';
$icon-7-x: 157px;
$icon-7-y: 0px;
$icon-7-offset-x: -157px;
$icon-7-offset-y: 0px;
$icon-7-width: 16px;
$icon-7-height: 15px;
$icon-7-total-width: 1331px;
$icon-7-total-height: 87px;
$icon-7-image: '../img/sprite.png';
$icon-7: (157px, 0px, -157px, 0px, 16px, 15px, 1331px, 87px, '../img/sprite.png', 'icon-7', );
$icon-8-name: 'icon-8';
$icon-8-x: 36px;
$icon-8-y: 0px;
$icon-8-offset-x: -36px;
$icon-8-offset-y: 0px;
$icon-8-width: 14px;
$icon-8-height: 15px;
$icon-8-total-width: 1331px;
$icon-8-total-height: 87px;
$icon-8-image: '../img/sprite.png';
$icon-8: (36px, 0px, -36px, 0px, 14px, 15px, 1331px, 87px, '../img/sprite.png', 'icon-8', );
$icon-9-name: 'icon-9';
$icon-9-x: 9px;
$icon-9-y: 0px;
$icon-9-offset-x: -9px;
$icon-9-offset-y: 0px;
$icon-9-width: 13px;
$icon-9-height: 10px;
$icon-9-total-width: 1331px;
$icon-9-total-height: 87px;
$icon-9-image: '../img/sprite.png';
$icon-9: (9px, 0px, -9px, 0px, 13px, 10px, 1331px, 87px, '../img/sprite.png', 'icon-9', );
$list-1-ic-name: 'list-1-ic';
$list-1-ic-x: 173px;
$list-1-ic-y: 0px;
$list-1-ic-offset-x: -173px;
$list-1-ic-offset-y: 0px;
$list-1-ic-width: 17px;
$list-1-ic-height: 17px;
$list-1-ic-total-width: 1331px;
$list-1-ic-total-height: 87px;
$list-1-ic-image: '../img/sprite.png';
$list-1-ic: (173px, 0px, -173px, 0px, 17px, 17px, 1331px, 87px, '../img/sprite.png', 'list-1-ic', );
$maestro-ic-name: 'maestro-ic';
$maestro-ic-x: 601px;
$maestro-ic-y: 0px;
$maestro-ic-offset-x: -601px;
$maestro-ic-offset-y: 0px;
$maestro-ic-width: 60px;
$maestro-ic-height: 38px;
$maestro-ic-total-width: 1331px;
$maestro-ic-total-height: 87px;
$maestro-ic-image: '../img/sprite.png';
$maestro-ic: (601px, 0px, -601px, 0px, 60px, 38px, 1331px, 87px, '../img/sprite.png', 'maestro-ic', );
$paypal-ic-name: 'paypal-ic';
$paypal-ic-x: 661px;
$paypal-ic-y: 0px;
$paypal-ic-offset-x: -661px;
$paypal-ic-offset-y: 0px;
$paypal-ic-width: 60px;
$paypal-ic-height: 38px;
$paypal-ic-total-width: 1331px;
$paypal-ic-total-height: 87px;
$paypal-ic-image: '../img/sprite.png';
$paypal-ic: (661px, 0px, -661px, 0px, 60px, 38px, 1331px, 87px, '../img/sprite.png', 'paypal-ic', );
$pgn-next-name: 'pgn-next';
$pgn-next-x: 94px;
$pgn-next-y: 0px;
$pgn-next-offset-x: -94px;
$pgn-next-offset-y: 0px;
$pgn-next-width: 15px;
$pgn-next-height: 7px;
$pgn-next-total-width: 1331px;
$pgn-next-total-height: 87px;
$pgn-next-image: '../img/sprite.png';
$pgn-next: (94px, 0px, -94px, 0px, 15px, 7px, 1331px, 87px, '../img/sprite.png', 'pgn-next', );
$pgn-prev-name: 'pgn-prev';
$pgn-prev-x: 79px;
$pgn-prev-y: 0px;
$pgn-prev-offset-x: -79px;
$pgn-prev-offset-y: 0px;
$pgn-prev-width: 15px;
$pgn-prev-height: 7px;
$pgn-prev-total-width: 1331px;
$pgn-prev-total-height: 87px;
$pgn-prev-image: '../img/sprite.png';
$pgn-prev: (79px, 0px, -79px, 0px, 15px, 7px, 1331px, 87px, '../img/sprite.png', 'pgn-prev', );
$pt-ac-name: 'pt-ac';
$pt-ac-x: 842px;
$pt-ac-y: 0px;
$pt-ac-offset-x: -842px;
$pt-ac-offset-y: 0px;
$pt-ac-width: 61px;
$pt-ac-height: 76px;
$pt-ac-total-width: 1331px;
$pt-ac-total-height: 87px;
$pt-ac-image: '../img/sprite.png';
$pt-ac: (842px, 0px, -842px, 0px, 61px, 76px, 1331px, 87px, '../img/sprite.png', 'pt-ac', );
$pt-ic-name: 'pt-ic';
$pt-ic-x: 64px;
$pt-ic-y: 0px;
$pt-ic-offset-x: -64px;
$pt-ic-offset-y: 0px;
$pt-ic-width: 15px;
$pt-ic-height: 15px;
$pt-ic-total-width: 1331px;
$pt-ic-total-height: 87px;
$pt-ic-image: '../img/sprite.png';
$pt-ic: (64px, 0px, -64px, 0px, 15px, 15px, 1331px, 87px, '../img/sprite.png', 'pt-ic', );
$pt-name: 'pt';
$pt-x: 964px;
$pt-y: 0px;
$pt-offset-x: -964px;
$pt-offset-y: 0px;
$pt-width: 61px;
$pt-height: 76px;
$pt-total-width: 1331px;
$pt-total-height: 87px;
$pt-image: '../img/sprite.png';
$pt: (964px, 0px, -964px, 0px, 61px, 76px, 1331px, 87px, '../img/sprite.png', 'pt', );
$tw-ac-name: 'tw-ac';
$tw-ac-x: 1025px;
$tw-ac-y: 0px;
$tw-ac-offset-x: -1025px;
$tw-ac-offset-y: 0px;
$tw-ac-width: 61px;
$tw-ac-height: 76px;
$tw-ac-total-width: 1331px;
$tw-ac-total-height: 87px;
$tw-ac-image: '../img/sprite.png';
$tw-ac: (1025px, 0px, -1025px, 0px, 61px, 76px, 1331px, 87px, '../img/sprite.png', 'tw-ac', );
$tw-ic-name: 'tw-ic';
$tw-ic-x: 125px;
$tw-ic-y: 0px;
$tw-ic-offset-x: -125px;
$tw-ic-offset-y: 0px;
$tw-ic-width: 16px;
$tw-ic-height: 13px;
$tw-ic-total-width: 1331px;
$tw-ic-total-height: 87px;
$tw-ic-image: '../img/sprite.png';
$tw-ic: (125px, 0px, -125px, 0px, 16px, 13px, 1331px, 87px, '../img/sprite.png', 'tw-ic', );
$tw-name: 'tw';
$tw-x: 1147px;
$tw-y: 0px;
$tw-offset-x: -1147px;
$tw-offset-y: 0px;
$tw-width: 61px;
$tw-height: 76px;
$tw-total-width: 1331px;
$tw-total-height: 87px;
$tw-image: '../img/sprite.png';
$tw: (1147px, 0px, -1147px, 0px, 61px, 76px, 1331px, 87px, '../img/sprite.png', 'tw', );
$visa-ic-name: 'visa-ic';
$visa-ic-x: 421px;
$visa-ic-y: 0px;
$visa-ic-offset-x: -421px;
$visa-ic-offset-y: 0px;
$visa-ic-width: 60px;
$visa-ic-height: 38px;
$visa-ic-total-width: 1331px;
$visa-ic-total-height: 87px;
$visa-ic-image: '../img/sprite.png';
$visa-ic: (421px, 0px, -421px, 0px, 60px, 38px, 1331px, 87px, '../img/sprite.png', 'visa-ic', );
$webmoney-ic-name: 'webmoney-ic';
$webmoney-ic-x: 721px;
$webmoney-ic-y: 0px;
$webmoney-ic-offset-x: -721px;
$webmoney-ic-offset-y: 0px;
$webmoney-ic-width: 60px;
$webmoney-ic-height: 38px;
$webmoney-ic-total-width: 1331px;
$webmoney-ic-total-height: 87px;
$webmoney-ic-image: '../img/sprite.png';
$webmoney-ic: (721px, 0px, -721px, 0px, 60px, 38px, 1331px, 87px, '../img/sprite.png', 'webmoney-ic', );
$spritesheet-width: 1331px;
$spritesheet-height: 87px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($ae-ic, $alert-ic-1, $bitcoin-ic, $fb-ac, $fb-ic, $fb, $gp-ac, $gp-ic, $gp, $icon-1, $icon-10, $icon-11, $icon-12, $icon-13, $icon-14, $icon-2, $icon-3, $icon-4, $icon-5, $icon-6, $icon-7, $icon-8, $icon-9, $list-1-ic, $maestro-ic, $paypal-ic, $pgn-next, $pgn-prev, $pt-ac, $pt-ic, $pt, $tw-ac, $tw-ic, $tw, $visa-ic, $webmoney-ic, );
$spritesheet: (1331px, 87px, '../img/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
