// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$ae-ic-name: 'ae-ic';
$ae-ic-x: 957px;
$ae-ic-y: 0px;
$ae-ic-offset-x: -957px;
$ae-ic-offset-y: 0px;
$ae-ic-width: 60px;
$ae-ic-height: 38px;
$ae-ic-total-width: 1807px;
$ae-ic-total-height: 87px;
$ae-ic-image: '../img/sprite.png';
$ae-ic: (957px, 0px, -957px, 0px, 60px, 38px, 1807px, 87px, '../img/sprite.png', 'ae-ic', );
$alert-ic-1-name: 'alert-ic-1';
$alert-ic-1-x: 514px;
$alert-ic-1-y: 0px;
$alert-ic-1-offset-x: -514px;
$alert-ic-1-offset-y: 0px;
$alert-ic-1-width: 33px;
$alert-ic-1-height: 29px;
$alert-ic-1-total-width: 1807px;
$alert-ic-1-total-height: 87px;
$alert-ic-1-image: '../img/sprite.png';
$alert-ic-1: (514px, 0px, -514px, 0px, 33px, 29px, 1807px, 87px, '../img/sprite.png', 'alert-ic-1', );
$arr-ic-name: 'arr-ic';
$arr-ic-x: 214px;
$arr-ic-y: 0px;
$arr-ic-offset-x: -214px;
$arr-ic-offset-y: 0px;
$arr-ic-width: 18px;
$arr-ic-height: 14px;
$arr-ic-total-width: 1807px;
$arr-ic-total-height: 87px;
$arr-ic-image: '../img/sprite.png';
$arr-ic: (214px, 0px, -214px, 0px, 18px, 14px, 1807px, 87px, '../img/sprite.png', 'arr-ic', );
$ask-active-ic-name: 'ask-active-ic';
$ask-active-ic-x: 486px;
$ask-active-ic-y: 0px;
$ask-active-ic-offset-x: -486px;
$ask-active-ic-offset-y: 0px;
$ask-active-ic-width: 28px;
$ask-active-ic-height: 29px;
$ask-active-ic-total-width: 1807px;
$ask-active-ic-total-height: 87px;
$ask-active-ic-image: '../img/sprite.png';
$ask-active-ic: (486px, 0px, -486px, 0px, 28px, 29px, 1807px, 87px, '../img/sprite.png', 'ask-active-ic', );
$ask-ic-name: 'ask-ic';
$ask-ic-x: 458px;
$ask-ic-y: 0px;
$ask-ic-offset-x: -458px;
$ask-ic-offset-y: 0px;
$ask-ic-width: 28px;
$ask-ic-height: 29px;
$ask-ic-total-width: 1807px;
$ask-ic-total-height: 87px;
$ask-ic-image: '../img/sprite.png';
$ask-ic: (458px, 0px, -458px, 0px, 28px, 29px, 1807px, 87px, '../img/sprite.png', 'ask-ic', );
$bitcoin-ic-name: 'bitcoin-ic';
$bitcoin-ic-x: 1017px;
$bitcoin-ic-y: 0px;
$bitcoin-ic-offset-x: -1017px;
$bitcoin-ic-offset-y: 0px;
$bitcoin-ic-width: 60px;
$bitcoin-ic-height: 38px;
$bitcoin-ic-total-width: 1807px;
$bitcoin-ic-total-height: 87px;
$bitcoin-ic-image: '../img/sprite.png';
$bitcoin-ic: (1017px, 0px, -1017px, 0px, 60px, 38px, 1807px, 87px, '../img/sprite.png', 'bitcoin-ic', );
$fb-ac-name: 'fb-ac';
$fb-ac-x: 1684px;
$fb-ac-y: 0px;
$fb-ac-offset-x: -1684px;
$fb-ac-offset-y: 0px;
$fb-ac-width: 61px;
$fb-ac-height: 76px;
$fb-ac-total-width: 1807px;
$fb-ac-total-height: 87px;
$fb-ac-image: '../img/sprite.png';
$fb-ac: (1684px, 0px, -1684px, 0px, 61px, 76px, 1807px, 87px, '../img/sprite.png', 'fb-ac', );
$fb-ic-name: 'fb-ic';
$fb-ic-x: 0px;
$fb-ic-y: 0px;
$fb-ic-offset-x: 0px;
$fb-ic-offset-y: 0px;
$fb-ic-width: 9px;
$fb-ic-height: 16px;
$fb-ic-total-width: 1807px;
$fb-ic-total-height: 87px;
$fb-ic-image: '../img/sprite.png';
$fb-ic: (0px, 0px, 0px, 0px, 9px, 16px, 1807px, 87px, '../img/sprite.png', 'fb-ic', );
$fb-name: 'fb';
$fb-x: 1562px;
$fb-y: 0px;
$fb-offset-x: -1562px;
$fb-offset-y: 0px;
$fb-width: 61px;
$fb-height: 76px;
$fb-total-width: 1807px;
$fb-total-height: 87px;
$fb-image: '../img/sprite.png';
$fb: (1562px, 0px, -1562px, 0px, 61px, 76px, 1807px, 87px, '../img/sprite.png', 'fb', );
$gp-ac-name: 'gp-ac';
$gp-ac-x: 1440px;
$gp-ac-y: 0px;
$gp-ac-offset-x: -1440px;
$gp-ac-offset-y: 0px;
$gp-ac-width: 61px;
$gp-ac-height: 76px;
$gp-ac-total-width: 1807px;
$gp-ac-total-height: 87px;
$gp-ac-image: '../img/sprite.png';
$gp-ac: (1440px, 0px, -1440px, 0px, 61px, 76px, 1807px, 87px, '../img/sprite.png', 'gp-ac', );
$gp-ic-name: 'gp-ic';
$gp-ic-x: 309px;
$gp-ic-y: 0px;
$gp-ic-offset-x: -309px;
$gp-ic-offset-y: 0px;
$gp-ic-width: 21px;
$gp-ic-height: 14px;
$gp-ic-total-width: 1807px;
$gp-ic-total-height: 87px;
$gp-ic-image: '../img/sprite.png';
$gp-ic: (309px, 0px, -309px, 0px, 21px, 14px, 1807px, 87px, '../img/sprite.png', 'gp-ic', );
$gp-name: 'gp';
$gp-x: 1379px;
$gp-y: 0px;
$gp-offset-x: -1379px;
$gp-offset-y: 0px;
$gp-width: 61px;
$gp-height: 76px;
$gp-total-width: 1807px;
$gp-total-height: 87px;
$gp-image: '../img/sprite.png';
$gp: (1379px, 0px, -1379px, 0px, 61px, 76px, 1807px, 87px, '../img/sprite.png', 'gp', );
$icon-1-name: 'icon-1';
$icon-1-x: 405px;
$icon-1-y: 0px;
$icon-1-offset-x: -405px;
$icon-1-offset-y: 0px;
$icon-1-width: 26px;
$icon-1-height: 34px;
$icon-1-total-width: 1807px;
$icon-1-total-height: 87px;
$icon-1-image: '../img/sprite.png';
$icon-1: (405px, 0px, -405px, 0px, 26px, 34px, 1807px, 87px, '../img/sprite.png', 'icon-1', );
$icon-10-name: 'icon-10';
$icon-10-x: 251px;
$icon-10-y: 0px;
$icon-10-offset-x: -251px;
$icon-10-offset-y: 0px;
$icon-10-width: 19px;
$icon-10-height: 18px;
$icon-10-total-width: 1807px;
$icon-10-total-height: 87px;
$icon-10-image: '../img/sprite.png';
$icon-10: (251px, 0px, -251px, 0px, 19px, 18px, 1807px, 87px, '../img/sprite.png', 'icon-10', );
$icon-11-name: 'icon-11';
$icon-11-x: 232px;
$icon-11-y: 0px;
$icon-11-offset-x: -232px;
$icon-11-offset-y: 0px;
$icon-11-width: 19px;
$icon-11-height: 18px;
$icon-11-total-width: 1807px;
$icon-11-total-height: 87px;
$icon-11-image: '../img/sprite.png';
$icon-11: (232px, 0px, -232px, 0px, 19px, 18px, 1807px, 87px, '../img/sprite.png', 'icon-11', );
$icon-12-name: 'icon-12';
$icon-12-x: 74px;
$icon-12-y: 0px;
$icon-12-offset-x: -74px;
$icon-12-offset-y: 0px;
$icon-12-width: 14px;
$icon-12-height: 17px;
$icon-12-total-width: 1807px;
$icon-12-total-height: 87px;
$icon-12-image: '../img/sprite.png';
$icon-12: (74px, 0px, -74px, 0px, 14px, 17px, 1807px, 87px, '../img/sprite.png', 'icon-12', );
$icon-13-name: 'icon-13';
$icon-13-x: 181px;
$icon-13-y: 0px;
$icon-13-offset-x: -181px;
$icon-13-offset-y: 0px;
$icon-13-width: 16px;
$icon-13-height: 16px;
$icon-13-total-width: 1807px;
$icon-13-total-height: 87px;
$icon-13-image: '../img/sprite.png';
$icon-13: (181px, 0px, -181px, 0px, 16px, 16px, 1807px, 87px, '../img/sprite.png', 'icon-13', );
$icon-14-name: 'icon-14';
$icon-14-x: 1745px;
$icon-14-y: 0px;
$icon-14-offset-x: -1745px;
$icon-14-offset-y: 0px;
$icon-14-width: 62px;
$icon-14-height: 87px;
$icon-14-total-width: 1807px;
$icon-14-total-height: 87px;
$icon-14-image: '../img/sprite.png';
$icon-14: (1745px, 0px, -1745px, 0px, 62px, 87px, 1807px, 87px, '../img/sprite.png', 'icon-14', );
$icon-15-name: 'icon-15';
$icon-15-x: 270px;
$icon-15-y: 0px;
$icon-15-offset-x: -270px;
$icon-15-offset-y: 0px;
$icon-15-width: 19px;
$icon-15-height: 19px;
$icon-15-total-width: 1807px;
$icon-15-total-height: 87px;
$icon-15-image: '../img/sprite.png';
$icon-15: (270px, 0px, -270px, 0px, 19px, 19px, 1807px, 87px, '../img/sprite.png', 'icon-15', );
$icon-16-name: 'icon-16';
$icon-16-x: 9px;
$icon-16-y: 0px;
$icon-16-offset-x: -9px;
$icon-16-offset-y: 0px;
$icon-16-width: 12px;
$icon-16-height: 11px;
$icon-16-total-width: 1807px;
$icon-16-total-height: 87px;
$icon-16-image: '../img/sprite.png';
$icon-16: (9px, 0px, -9px, 0px, 12px, 11px, 1807px, 87px, '../img/sprite.png', 'icon-16', );
$icon-17-name: 'icon-17';
$icon-17-x: 289px;
$icon-17-y: 0px;
$icon-17-offset-x: -289px;
$icon-17-offset-y: 0px;
$icon-17-width: 20px;
$icon-17-height: 20px;
$icon-17-total-width: 1807px;
$icon-17-total-height: 87px;
$icon-17-image: '../img/sprite.png';
$icon-17: (289px, 0px, -289px, 0px, 20px, 20px, 1807px, 87px, '../img/sprite.png', 'icon-17', );
$icon-2-name: 'icon-2';
$icon-2-x: 587px;
$icon-2-y: 0px;
$icon-2-offset-x: -587px;
$icon-2-offset-y: 0px;
$icon-2-width: 40px;
$icon-2-height: 34px;
$icon-2-total-width: 1807px;
$icon-2-total-height: 87px;
$icon-2-image: '../img/sprite.png';
$icon-2: (587px, 0px, -587px, 0px, 40px, 34px, 1807px, 87px, '../img/sprite.png', 'icon-2', );
$icon-3-name: 'icon-3';
$icon-3-x: 60px;
$icon-3-y: 0px;
$icon-3-offset-x: -60px;
$icon-3-offset-y: 0px;
$icon-3-width: 14px;
$icon-3-height: 17px;
$icon-3-total-width: 1807px;
$icon-3-total-height: 87px;
$icon-3-image: '../img/sprite.png';
$icon-3: (60px, 0px, -60px, 0px, 14px, 17px, 1807px, 87px, '../img/sprite.png', 'icon-3', );
$icon-4-name: 'icon-4';
$icon-4-x: 849px;
$icon-4-y: 0px;
$icon-4-offset-x: -849px;
$icon-4-offset-y: 0px;
$icon-4-width: 48px;
$icon-4-height: 38px;
$icon-4-total-width: 1807px;
$icon-4-total-height: 87px;
$icon-4-image: '../img/sprite.png';
$icon-4: (849px, 0px, -849px, 0px, 48px, 38px, 1807px, 87px, '../img/sprite.png', 'icon-4', );
$icon-5-name: 'icon-5';
$icon-5-x: 330px;
$icon-5-y: 0px;
$icon-5-offset-x: -330px;
$icon-5-offset-y: 0px;
$icon-5-width: 25px;
$icon-5-height: 24px;
$icon-5-total-width: 1807px;
$icon-5-total-height: 87px;
$icon-5-image: '../img/sprite.png';
$icon-5: (330px, 0px, -330px, 0px, 25px, 24px, 1807px, 87px, '../img/sprite.png', 'icon-5', );
$icon-6-name: 'icon-6';
$icon-6-x: 149px;
$icon-6-y: 0px;
$icon-6-offset-x: -149px;
$icon-6-offset-y: 0px;
$icon-6-width: 16px;
$icon-6-height: 15px;
$icon-6-total-width: 1807px;
$icon-6-total-height: 87px;
$icon-6-image: '../img/sprite.png';
$icon-6: (149px, 0px, -149px, 0px, 16px, 15px, 1807px, 87px, '../img/sprite.png', 'icon-6', );
$icon-7-name: 'icon-7';
$icon-7-x: 165px;
$icon-7-y: 0px;
$icon-7-offset-x: -165px;
$icon-7-offset-y: 0px;
$icon-7-width: 16px;
$icon-7-height: 15px;
$icon-7-total-width: 1807px;
$icon-7-total-height: 87px;
$icon-7-image: '../img/sprite.png';
$icon-7: (165px, 0px, -165px, 0px, 16px, 15px, 1807px, 87px, '../img/sprite.png', 'icon-7', );
$icon-8-name: 'icon-8';
$icon-8-x: 46px;
$icon-8-y: 0px;
$icon-8-offset-x: -46px;
$icon-8-offset-y: 0px;
$icon-8-width: 14px;
$icon-8-height: 15px;
$icon-8-total-width: 1807px;
$icon-8-total-height: 87px;
$icon-8-image: '../img/sprite.png';
$icon-8: (46px, 0px, -46px, 0px, 14px, 15px, 1807px, 87px, '../img/sprite.png', 'icon-8', );
$icon-9-name: 'icon-9';
$icon-9-x: 33px;
$icon-9-y: 0px;
$icon-9-offset-x: -33px;
$icon-9-offset-y: 0px;
$icon-9-width: 13px;
$icon-9-height: 10px;
$icon-9-total-width: 1807px;
$icon-9-total-height: 87px;
$icon-9-image: '../img/sprite.png';
$icon-9: (33px, 0px, -33px, 0px, 13px, 10px, 1807px, 87px, '../img/sprite.png', 'icon-9', );
$list-1-ic-name: 'list-1-ic';
$list-1-ic-x: 197px;
$list-1-ic-y: 0px;
$list-1-ic-offset-x: -197px;
$list-1-ic-offset-y: 0px;
$list-1-ic-width: 17px;
$list-1-ic-height: 17px;
$list-1-ic-total-width: 1807px;
$list-1-ic-total-height: 87px;
$list-1-ic-image: '../img/sprite.png';
$list-1-ic: (197px, 0px, -197px, 0px, 17px, 17px, 1807px, 87px, '../img/sprite.png', 'list-1-ic', );
$maestro-ic-name: 'maestro-ic';
$maestro-ic-x: 1077px;
$maestro-ic-y: 0px;
$maestro-ic-offset-x: -1077px;
$maestro-ic-offset-y: 0px;
$maestro-ic-width: 60px;
$maestro-ic-height: 38px;
$maestro-ic-total-width: 1807px;
$maestro-ic-total-height: 87px;
$maestro-ic-image: '../img/sprite.png';
$maestro-ic: (1077px, 0px, -1077px, 0px, 60px, 38px, 1807px, 87px, '../img/sprite.png', 'maestro-ic', );
$paypal-ic-name: 'paypal-ic';
$paypal-ic-x: 1137px;
$paypal-ic-y: 0px;
$paypal-ic-offset-x: -1137px;
$paypal-ic-offset-y: 0px;
$paypal-ic-width: 60px;
$paypal-ic-height: 38px;
$paypal-ic-total-width: 1807px;
$paypal-ic-total-height: 87px;
$paypal-ic-image: '../img/sprite.png';
$paypal-ic: (1137px, 0px, -1137px, 0px, 60px, 38px, 1807px, 87px, '../img/sprite.png', 'paypal-ic', );
$pgn-next-name: 'pgn-next';
$pgn-next-x: 118px;
$pgn-next-y: 0px;
$pgn-next-offset-x: -118px;
$pgn-next-offset-y: 0px;
$pgn-next-width: 15px;
$pgn-next-height: 7px;
$pgn-next-total-width: 1807px;
$pgn-next-total-height: 87px;
$pgn-next-image: '../img/sprite.png';
$pgn-next: (118px, 0px, -118px, 0px, 15px, 7px, 1807px, 87px, '../img/sprite.png', 'pgn-next', );
$pgn-prev-name: 'pgn-prev';
$pgn-prev-x: 103px;
$pgn-prev-y: 0px;
$pgn-prev-offset-x: -103px;
$pgn-prev-offset-y: 0px;
$pgn-prev-width: 15px;
$pgn-prev-height: 7px;
$pgn-prev-total-width: 1807px;
$pgn-prev-total-height: 87px;
$pgn-prev-image: '../img/sprite.png';
$pgn-prev: (103px, 0px, -103px, 0px, 15px, 7px, 1807px, 87px, '../img/sprite.png', 'pgn-prev', );
$pp-icon-1-name: 'pp-icon-1';
$pp-icon-1-x: 712px;
$pp-icon-1-y: 0px;
$pp-icon-1-offset-x: -712px;
$pp-icon-1-offset-y: 0px;
$pp-icon-1-width: 45px;
$pp-icon-1-height: 29px;
$pp-icon-1-total-width: 1807px;
$pp-icon-1-total-height: 87px;
$pp-icon-1-image: '../img/sprite.png';
$pp-icon-1: (712px, 0px, -712px, 0px, 45px, 29px, 1807px, 87px, '../img/sprite.png', 'pp-icon-1', );
$pp-icon-2-name: 'pp-icon-2';
$pp-icon-2-x: 431px;
$pp-icon-2-y: 0px;
$pp-icon-2-offset-x: -431px;
$pp-icon-2-offset-y: 0px;
$pp-icon-2-width: 27px;
$pp-icon-2-height: 37px;
$pp-icon-2-total-width: 1807px;
$pp-icon-2-total-height: 87px;
$pp-icon-2-image: '../img/sprite.png';
$pp-icon-2: (431px, 0px, -431px, 0px, 27px, 37px, 1807px, 87px, '../img/sprite.png', 'pp-icon-2', );
$pp-icon-3-name: 'pp-icon-3';
$pp-icon-3-x: 669px;
$pp-icon-3-y: 0px;
$pp-icon-3-offset-x: -669px;
$pp-icon-3-offset-y: 0px;
$pp-icon-3-width: 43px;
$pp-icon-3-height: 38px;
$pp-icon-3-total-width: 1807px;
$pp-icon-3-total-height: 87px;
$pp-icon-3-image: '../img/sprite.png';
$pp-icon-3: (669px, 0px, -669px, 0px, 43px, 38px, 1807px, 87px, '../img/sprite.png', 'pp-icon-3', );
$pp-icon-4-name: 'pp-icon-4';
$pp-icon-4-x: 757px;
$pp-icon-4-y: 0px;
$pp-icon-4-offset-x: -757px;
$pp-icon-4-offset-y: 0px;
$pp-icon-4-width: 45px;
$pp-icon-4-height: 29px;
$pp-icon-4-total-width: 1807px;
$pp-icon-4-total-height: 87px;
$pp-icon-4-image: '../img/sprite.png';
$pp-icon-4: (757px, 0px, -757px, 0px, 45px, 29px, 1807px, 87px, '../img/sprite.png', 'pp-icon-4', );
$pp-icon-5-name: 'pp-icon-5';
$pp-icon-5-x: 627px;
$pp-icon-5-y: 0px;
$pp-icon-5-offset-x: -627px;
$pp-icon-5-offset-y: 0px;
$pp-icon-5-width: 42px;
$pp-icon-5-height: 42px;
$pp-icon-5-total-width: 1807px;
$pp-icon-5-total-height: 87px;
$pp-icon-5-image: '../img/sprite.png';
$pp-icon-5: (627px, 0px, -627px, 0px, 42px, 42px, 1807px, 87px, '../img/sprite.png', 'pp-icon-5', );
$pp-icon-6-name: 'pp-icon-6';
$pp-icon-6-x: 547px;
$pp-icon-6-y: 0px;
$pp-icon-6-offset-x: -547px;
$pp-icon-6-offset-y: 0px;
$pp-icon-6-width: 40px;
$pp-icon-6-height: 40px;
$pp-icon-6-total-width: 1807px;
$pp-icon-6-total-height: 87px;
$pp-icon-6-image: '../img/sprite.png';
$pp-icon-6: (547px, 0px, -547px, 0px, 40px, 40px, 1807px, 87px, '../img/sprite.png', 'pp-icon-6', );
$pp-icon-7-name: 'pp-icon-7';
$pp-icon-7-x: 802px;
$pp-icon-7-y: 0px;
$pp-icon-7-offset-x: -802px;
$pp-icon-7-offset-y: 0px;
$pp-icon-7-width: 47px;
$pp-icon-7-height: 46px;
$pp-icon-7-total-width: 1807px;
$pp-icon-7-total-height: 87px;
$pp-icon-7-image: '../img/sprite.png';
$pp-icon-7: (802px, 0px, -802px, 0px, 47px, 46px, 1807px, 87px, '../img/sprite.png', 'pp-icon-7', );
$pt-ac-name: 'pt-ac';
$pt-ac-x: 1257px;
$pt-ac-y: 0px;
$pt-ac-offset-x: -1257px;
$pt-ac-offset-y: 0px;
$pt-ac-width: 61px;
$pt-ac-height: 76px;
$pt-ac-total-width: 1807px;
$pt-ac-total-height: 87px;
$pt-ac-image: '../img/sprite.png';
$pt-ac: (1257px, 0px, -1257px, 0px, 61px, 76px, 1807px, 87px, '../img/sprite.png', 'pt-ac', );
$pt-ic-name: 'pt-ic';
$pt-ic-x: 88px;
$pt-ic-y: 0px;
$pt-ic-offset-x: -88px;
$pt-ic-offset-y: 0px;
$pt-ic-width: 15px;
$pt-ic-height: 15px;
$pt-ic-total-width: 1807px;
$pt-ic-total-height: 87px;
$pt-ic-image: '../img/sprite.png';
$pt-ic: (88px, 0px, -88px, 0px, 15px, 15px, 1807px, 87px, '../img/sprite.png', 'pt-ic', );
$pt-name: 'pt';
$pt-x: 1318px;
$pt-y: 0px;
$pt-offset-x: -1318px;
$pt-offset-y: 0px;
$pt-width: 61px;
$pt-height: 76px;
$pt-total-width: 1807px;
$pt-total-height: 87px;
$pt-image: '../img/sprite.png';
$pt: (1318px, 0px, -1318px, 0px, 61px, 76px, 1807px, 87px, '../img/sprite.png', 'pt', );
$report-close-ic-name: 'report-close-ic';
$report-close-ic-x: 21px;
$report-close-ic-y: 0px;
$report-close-ic-offset-x: -21px;
$report-close-ic-offset-y: 0px;
$report-close-ic-width: 12px;
$report-close-ic-height: 11px;
$report-close-ic-total-width: 1807px;
$report-close-ic-total-height: 87px;
$report-close-ic-image: '../img/sprite.png';
$report-close-ic: (21px, 0px, -21px, 0px, 12px, 11px, 1807px, 87px, '../img/sprite.png', 'report-close-ic', );
$star-icon-on-name: 'star-icon-on';
$star-icon-on-x: 355px;
$star-icon-on-y: 0px;
$star-icon-on-offset-x: -355px;
$star-icon-on-offset-y: 0px;
$star-icon-on-width: 25px;
$star-icon-on-height: 25px;
$star-icon-on-total-width: 1807px;
$star-icon-on-total-height: 87px;
$star-icon-on-image: '../img/sprite.png';
$star-icon-on: (355px, 0px, -355px, 0px, 25px, 25px, 1807px, 87px, '../img/sprite.png', 'star-icon-on', );
$star-icon-name: 'star-icon';
$star-icon-x: 380px;
$star-icon-y: 0px;
$star-icon-offset-x: -380px;
$star-icon-offset-y: 0px;
$star-icon-width: 25px;
$star-icon-height: 25px;
$star-icon-total-width: 1807px;
$star-icon-total-height: 87px;
$star-icon-image: '../img/sprite.png';
$star-icon: (380px, 0px, -380px, 0px, 25px, 25px, 1807px, 87px, '../img/sprite.png', 'star-icon', );
$tw-ac-name: 'tw-ac';
$tw-ac-x: 1501px;
$tw-ac-y: 0px;
$tw-ac-offset-x: -1501px;
$tw-ac-offset-y: 0px;
$tw-ac-width: 61px;
$tw-ac-height: 76px;
$tw-ac-total-width: 1807px;
$tw-ac-total-height: 87px;
$tw-ac-image: '../img/sprite.png';
$tw-ac: (1501px, 0px, -1501px, 0px, 61px, 76px, 1807px, 87px, '../img/sprite.png', 'tw-ac', );
$tw-ic-name: 'tw-ic';
$tw-ic-x: 133px;
$tw-ic-y: 0px;
$tw-ic-offset-x: -133px;
$tw-ic-offset-y: 0px;
$tw-ic-width: 16px;
$tw-ic-height: 13px;
$tw-ic-total-width: 1807px;
$tw-ic-total-height: 87px;
$tw-ic-image: '../img/sprite.png';
$tw-ic: (133px, 0px, -133px, 0px, 16px, 13px, 1807px, 87px, '../img/sprite.png', 'tw-ic', );
$tw-name: 'tw';
$tw-x: 1623px;
$tw-y: 0px;
$tw-offset-x: -1623px;
$tw-offset-y: 0px;
$tw-width: 61px;
$tw-height: 76px;
$tw-total-width: 1807px;
$tw-total-height: 87px;
$tw-image: '../img/sprite.png';
$tw: (1623px, 0px, -1623px, 0px, 61px, 76px, 1807px, 87px, '../img/sprite.png', 'tw', );
$visa-ic-name: 'visa-ic';
$visa-ic-x: 897px;
$visa-ic-y: 0px;
$visa-ic-offset-x: -897px;
$visa-ic-offset-y: 0px;
$visa-ic-width: 60px;
$visa-ic-height: 38px;
$visa-ic-total-width: 1807px;
$visa-ic-total-height: 87px;
$visa-ic-image: '../img/sprite.png';
$visa-ic: (897px, 0px, -897px, 0px, 60px, 38px, 1807px, 87px, '../img/sprite.png', 'visa-ic', );
$webmoney-ic-name: 'webmoney-ic';
$webmoney-ic-x: 1197px;
$webmoney-ic-y: 0px;
$webmoney-ic-offset-x: -1197px;
$webmoney-ic-offset-y: 0px;
$webmoney-ic-width: 60px;
$webmoney-ic-height: 38px;
$webmoney-ic-total-width: 1807px;
$webmoney-ic-total-height: 87px;
$webmoney-ic-image: '../img/sprite.png';
$webmoney-ic: (1197px, 0px, -1197px, 0px, 60px, 38px, 1807px, 87px, '../img/sprite.png', 'webmoney-ic', );
$spritesheet-width: 1807px;
$spritesheet-height: 87px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($ae-ic, $alert-ic-1, $arr-ic, $ask-active-ic, $ask-ic, $bitcoin-ic, $fb-ac, $fb-ic, $fb, $gp-ac, $gp-ic, $gp, $icon-1, $icon-10, $icon-11, $icon-12, $icon-13, $icon-14, $icon-15, $icon-16, $icon-17, $icon-2, $icon-3, $icon-4, $icon-5, $icon-6, $icon-7, $icon-8, $icon-9, $list-1-ic, $maestro-ic, $paypal-ic, $pgn-next, $pgn-prev, $pp-icon-1, $pp-icon-2, $pp-icon-3, $pp-icon-4, $pp-icon-5, $pp-icon-6, $pp-icon-7, $pt-ac, $pt-ic, $pt, $report-close-ic, $star-icon-on, $star-icon, $tw-ac, $tw-ic, $tw, $visa-ic, $webmoney-ic, );
$spritesheet: (1807px, 87px, '../img/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
